.clas-1{
  font-family: serif;
  line-height: 1.5;
  font-size: 24px;
  /* font-family: serif; Matn shriftlarini Times New Romain stilida yozadi */
}

.clas-2{
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 24px;
  /* font-family: sans-serif; Matn shriftlarini Arial stilida yozadi */
}

.clas-3{
  font-family: cursive;
  line-height: 1.5;
  font-size: 24px;
  /* font-family: serif; Matn shriftlarini qo'lyozma stilida yozadi */
}

.clas-4{
  font-family: monospace;
  line-height: 1.5;
  font-size: 24px;
  /* font-family: serif; Matn shriftlarini bosma stilda yozadi stilida yozadi */
}
.clas-5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
